# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

### client

# dependencies
/client/node_modules
/client/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/client/coverage
/server/coverage 
# next.js
/client/.next/
/client/out/

# production
/client/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
/client/.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

### server

# dependencies
/server/node_modules

# local env files
/server/.env
/server/config/.env

#sens info
/server/config.js
/server/googlekeys.json 

#google keys info
/server/googlekeys.json

# Next.js cache files
client/.next/cache/
client/.next/server/middleware-build-manifest.js
client/.next/server/pages-manifest.json
client/.next/server/vendor-chunks/next.js
client/.next/static/chunks/webpack.js
client/.next/static/development/_buildManifest.js
client/.next/trace

audiocard-88c2a0dfea76.json
# keep the Google keys safe
googlekeys.json
