.setContainer{
    display: flex;
    justify-content: center;
}

.setTitle{
    color: #187caa;
    display: flex;
    justify-content: center;
}

#createFlashcarLight {
    background-color: #252526;
    padding: 20px;
}

#createFlashcarDark {
   background-color: white;
   padding: 20px;
}

/* CreateCardset */
@media (max-width: 991px) { 
    #creatBtn {
        text-align: center;
    }
}

@media (max-width: 768px) {
    #creatBtn {
        text-align: center;
    }
}