.toggleButton {
    background-color: transparent;
    color: #333;
    border: none;
    cursor: pointer;
}

.toggleButton:hover {
    color: #1d62b4ba; /* Change color on hover */
}

.darkMode {
    /* Define styles for dark mode */
    background-color: #333;
    color: #eee;
}
