
.cardsetHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardsetTitle {
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
    color: black;
}

.cardsetTitleDark{
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
    color: white;
}

.createCardsetButton {
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
}


.cardsetsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    border: 1px solid #000;
    padding: 20px;
}

.cardset {
    flex: 0 0 300px;
    height: 100px;
    width: 50px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#greeting {
    margin-top: 6rem !important;
}

#welcome {
    color: #C2C3C4;
}

#welcomeDark{
    color: #868789;
}

#dashboardCardLink,
#dashboardCardLink:link,
#dashboardCardLink:visited,
#dashboardCardLink:hover,
#dashboardCardLink:active { 
    text-decoration: none !important; 
} 

#navigation {
    border-bottom: 1px solid lightgrey;
}

#inlineNavItemActive,
#inlineNavItemActive:active {
    border-bottom: 5px solid #2273d6ba;
}


#inlineNavItemNotActive {

}

.nav-item:first-child > a {
    padding: 0 !important;
} 