#ButtonsSmallScreen  {
    display: none !important;
}

#Previous,
#Next {
    display: block !important;
}

@media (max-width: 991px) { 
    #ButtonsSmallScreen {
        display: flex !important;
    }

    #Previous,
    #Next  {
        display: none !important;
    }
}
