.progressBarContainer {
    position: relative;
    width: 100%;
    background-color: #eee;
    border-radius: 4px;
    margin-top: 20px;
    height: 20px;
    margin-bottom: 20px; 
}

.progressBar, .completionBar {
    position: absolute;
    top: 0;
    height: 100%;
    border-radius: 4px;
}

.progressBar {
    background-color: #4CAF50;
    z-index: 2; 
}

.completionBar {
    background-color: #ffc507; 
    z-index: 1; 
}


.formGroup {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.formControl {
    text-align: center;
    width: 50%;
}

.centeredButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.optionsOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10; 
}

.optionsModal {
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    height: 300px;
    text-align: center;
}

.closeButtonContainer {
    margin-top: 20px; 
    align-self: stretch; 
    text-align: center; 
    display:flex; 
    justify-content: center;
}

.shuffleButton {
    border: none;
    background-color: #1d62b4ba; 
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

.closeButton {
    border: none;
    background-color: #1d62b4ba; 
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;

}

.topRightButtons {
    position: absolute;
    top: 10px;
    right: 63px;
    padding: 10px;
}

.optionButton {
    border: none;
    background-color: #1d62b4ba; 
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    cursor: pointer;
}

#optionButtons {
    width: 30%;
}