@import url('https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css');

:root {
  --bs-primary:  black;        
  --bs-secondary:#6996bf;
  --ts-primary: black; 
  --ts-secondary: #abafb3;
  --ts-tertiary: #abafb3;
  ;  
}

body {
    background-color: #F2F5F6;
    font-family: 'Roboto',  'Open Sans';
    overflow-y: scroll;
}

.btn-secondary {
    background-color: var(--bs-secondary);
    border: none;
}  

.btn-secondary:hover {
    background-color: #1765B4;
}

.smallButton{
    width: 150px;
}

.form-check-input:checked {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
}

.wrapper {
    background: radial-gradient(ellipse at 50% 0%, rgba(29, 98, 180, 0.73) 0%, rgba(242, 245, 246, 1) 40%);
}