/* Styles for the landing page container */
.landingPage {
    padding: 20px;
}

/* Styles for the logo */
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #000; /* Default text color */
}

/* Styles for the authentication buttons, vertical */
.authButtons {
    margin-top: 20px;
}

/* Styles for the login and signup buttons */
.authButtons button {
    background-color: #6996bf; /* Change to your desired color */
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

/* Hover effect for the login and signup buttons */
.authButtons button:hover {
    background-color: #14171b; /* Change to your desired hover color */
}

/* Styles for the dark mode toggle button */
.darkModeToggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Styles for the welcome message vertically */
.welcomeMessage {
    margin-top: 40px;
    text-align: center; /* Center align the text */
}

/* Welcome to AudioCard */
.welcomeMessage h1 {
    font-size: 32px;
    font-weight: bold;
    color: #000; /* Default text color */
}

/* Styles for the welcome message paragraph */
.welcomeMessage p {
    font-size: 16px;
    color: #000; /* Default text color */
    font-style: italic; /* Make the text italic */
    text-transform: uppercase; /* Convert text to uppercase */
    letter-spacing: 2px; /* Add letter spacing */
    line-height: 1.5; /* Adjust line height */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add text shadow */
    animation: glow 2s infinite alternate; /* Add glowing effect */
}

/* Define animation keyframes for glowing effect */
@keyframes glow {
    from {
        text-shadow: 0 0 10px rgb(64, 64, 79), 0 0 20px rgb(137, 137, 184), 0 0 30px #00f, 0 0 40px #00f, 0 0 50px #00f, 0 0 60px #00f, 0 0 70px #00f, 0 0 80px #00f;
    }
    to {
        text-shadow: 0 0 20px rgb(207, 207, 222), 0 0 30px rgb(145, 145, 180), 0 0 40px rgb(154, 199, 220), 0 0 50px rgb(156, 156, 169), 0 0 60px #00f, 0 0 70px #00f, 0 0 80px #00f, 0 0 90px #00f;
    }
}

/* Dark mode styles */
.dark-mode .landingPage * {
    color: #fff; /* Change text color to white in dark mode */
}

.dark-mode .pages {
    background-color: #000; /* Change background color to black in dark mode */
}
