#navbar {
    background: transparent !important;
}

#navLink:hover {
    color: #1d62b4ba !important;
}

#navLinkLogo:hover {
    color: black !important;
}

#mobileExploreLink {
    display: none !important;
}


@media (max-width: 991px) {

    #mobileExploreLink {
        display: inline-block !important;
    }

}

.navUserAvatar {
    overflow: hidden;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.dropdownMenu {
    position: absolute;
    top: 100%;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 200px;
    z-index: 1000;
}

.dropdownItem {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    white-space: nowrap;
}

.dropdownItem:hover {
    background-color: #f8f8f8;
}

.profileCircle {
    /* Style your circle profile icon here */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #333; /* Replace with user's image or preferred style */
    cursor: pointer;
}
