#navbar {
    background: transparent !important;
}

#navLink:hover{
    color: #1d62b4ba !important;
}

#navLinkLogo:hover{
    color: black !important;
}

#mobileExploreLink {
    display: none !important;
}


@media (max-width: 991px) { 
    #navbar {
        background: white !important;
    }

    #navLinkLogo {
        color: #1d62b4ba !important;
    }

    #mobileExploreLink {
        display: inline-block !important;
    }
}