.bellIcon {
    font-size: 1.5em;
    cursor: pointer;
}

.bellWrapper {
    position: relative;
    cursor: pointer;
}

.notificationBadge {
    position: absolute;
    top: -6px; 
    right: -10px; 
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    background-color: red; 
    color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em; 
    font-weight: bold; 
}

.notificationDropdown {
    position: absolute;
    top: 100%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
}

.notificationList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.notificationItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.notificationItem:last-child {
    border-bottom: none;
}

.noNotifications {
    padding: 10px;
    text-align: center;
    color: #666;
}

.buttonGroup{
    display: flex;
    flex-shrink: 0;
}

.acceptButton,
.declineButton {
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.acceptButton {
    background-color: #4CAF50;
    color: white;
}

.acceptButton:hover {
    background-color: #46a049;
}

.declineButton {
    background-color: #f44336;
    color: white;
}

.declineButton:hover {
    background-color: #d32f2f;
}

.notificationText{
    overflow-wrap: break-word;
    max-width: 70%; 
}