.profileContainer {
    display: flex;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
}

.profileSidebar {
    flex: 0 0 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userAvatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.avatarImage {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    border: 3px solid #333;
}

.friendList {
    flex-grow: 1;
    width: 100%;
    height: 300px;
    margin-top: 70px;
    text-align: center;
}

.addButton {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

.deleteButton {
    margin-top: 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ff0000;
    color: white;
    border: none;
    border-radius: 5px;

}

.cardset {
    border: 1px solid #ddd;
    padding: 10px;
    height: 100px;
}

.cardSetTitle {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.friendList {
    width: 100%;
}

.friendListUl {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.friendListItem {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.friendListItem:hover {
    background-color: #dddde7; 
}

.darkFriendListItem {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.darkFriendListItem:hover {
    background-color: #dddde7; 
    color: black;
}

.friendAvatar {
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px; 
}

.friendAvatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.friendName {
    font-size: 1em; 
    line-height: 1.5; 
    display: flex;
    align-items: center;
}

