#container {
    position: relative;
    width: 702px;
    height: 433px;
    margin: 0 auto;
    border: 10px solid transparent;
}

#card {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
    transform-style: preserve-3d;
}

#card.isFlipped {
    transform: rotateX(180deg);
}

#front,
#back {
    backface-visibility: hidden;

    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 2em;
    border-radius: 10px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.1);
}

#front {
    background-color: white;
    color: black;
}

#back {
    transform: rotateX(180deg);

    background-color: white;
    color: black;
}

@keyframes flash-green {

    0%,
    100% {
        border-color: transparent;
    }

    50% {
        border-color: green;
    }
}

@keyframes flash-red {

    0%,
    100% {
        border-color: transparent;
    }

    50% {
        border-color: red;
    }
}

.correct {
    animation: flash-green 2s ease-out;
}

.incorrect {
    animation: flash-red 2s ease-out;
}